<div class='container mt-4'>
  <br>
  <h1>Mon profil</h1>
  <!-- INFORMATION SUR L'UTILISATEUR -->
  <br>

  <%if @user.avatar.attached?%>
    <%= image_tag @user.avatar, alt: 'avatar' %>
  <%else%>
    <%= avatar_for(current_user) %>  <%end%>
  <div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
    <p>
      <u>Prénom</u>: <%= @user.first_name %><br>
      <u>Nom</u>: <%= @user.last_name %><br>
      <u>Description</u>: <%= @user.description %><br>
      <u>Email</u>: <%= @user.email %><br>
    </p>
    <%= form_tag user_avatars_path(@user), multipart: true do %>
      <%= file_field_tag :avatar %>
      <%= submit_tag "mettre à jour" %>
    <% end %>

  </div>
  <%= link_to edit_user_registration_path do %>
<button type="button" class="btn btn-warning mt-4">Edit Password / Mail </button>
<% end %>
</div>
<br>

<center>
  <h4>L'utilisateur à créer ces événements: </h4>
  <div class = 'mt-4 pt-4 pl-2'>
    <div class="card-columns">
      <!-- APPELLE DE CHAQUE ELEMENT DU TABLEAU EVENT -->
      <% @event_admin.sort.each do |event| %>
        <% if event.admin_id == current_user.id %>
          <!-- link_to POUR QUE TOUTE LA CARTE DEVIENNE UN LIEN -->
          <%= link_to event_path(event), :controller => :events do%>

            <div class="card border-primary mb-3 bg-light" style="max-width: 20rem;">
              <div class="card-body">

                <!-- AFFICHAGE DU TITRE, LIÉ À SA PAGE show -->
                <h2 class="card-title text-dark">  <%= event.title%></h2>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</center>
