<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>

    <h1 class="h3 mb-3 font-weight-normal text-center">Créer ton event !</h1>
  <!-- FORMULAIRE DE CRÉATION D'UN EVENT -->
  <%= form_with model: @event, local: true,  html: { class: "form-signin mt-3" } do |f| %>
    <p> Date de début :</br> <%= f.datetime_select :start_date, class: "form-control"%> </p>
    <p> Durée :</br> <%= f.text_field :duration, class: "form-control"%> </p>
    <p> Description :</br> <%= f.text_field :description, class: "form-control"%> </p>
    <p> Titre :</br> <%= f.text_field :title, class: "form-control"%> </p>
    <p> Prix d'entrée :</br> <%= f.text_field :price, class: "form-control"%> </p>
    <p> Lieu de l'Event :</br> <%= f.text_field :location, class: "form-control"%></p>
    <p> Image de l'event:</br>  <%= f.file_field :avatar, class: "form-control" %></p>
    <div class="actions mt-5">
      <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <%end%>
</div>

<% if @event.errors.any? %>
  <div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong> Bah alors ?! </strong>
  <p>Nous n'avons pas réussi à créer l'Event pour le/les raisons suivantes :</p>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

</div>
</div>
