<!-- MESSAGE SI CONNEXION RÉUSSIE -->
<% if flash[:success] %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <h2>Ton event à bien été enregistré ! </h2>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
<% end %>

<div class='container mt-4'>
  <br>
  <h1><%= @event.title %></h1>
  <!-- INFORMATION SUR L'UTILISATEUR -->
  <br>
  <div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
    <p>
      <u>Date de début</u>: <%= @event.start_date.strftime('%d of %B, %Y - %HH%M') %><br>
      <u>Date de fin</u>: <%= @end_date %><br>
      <u>Créateur de l'Event</u>: <%= User.find(@event.admin_id).email %><br>
      <u>Lieu de l'Event</u>: <%= @event.location %><br>
      <u>Description</u>: <%= @event.description %><br>
      <u>Prix</u>: <%= @event.price%> €<br>
      <!-- Methode count en private pour le nombre d'inscrits -->
      <u>Nombre d'inscrits</u>: <%= @count %><br>


    </p>

  </div>
</div>
<br>
